<div class="box" id="sign-up-form">
<h1><strong>We're working on a lot of features on PC Wizard.</strong></h1>
  <br>
<h3>Soon you'll be able to create your own parts lists<br>that will allow you to keep track of what you need to purchase.</h3>
  <br>
<h3>In the meantime, feel free to create an account that you can use for later.</h3>
  <br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
</div>

<% end %>

<!-- <%= render "devise/shared/links" %> -->
