<!DOCTYPE html>
<html>
  <head>
    <title>PC Wizard</title>
    <link rel="icon" type="image/png" href="https://i.imgur.com/eKFYUVb.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/footer' %>

    
  </body>
</html>
